<p>Our staff provides advice on completing the detailed application and provides a thorough review and edit of all sections:</p>
<ul class="amcas-li">
	<li>Activities section (15 possible entries)</li>
	<li>Personal statement</li>
	<li>Medical schools</li>
	<li>Choice of potential letter writers</li>
</ul>
