<p>Three to nine months in advance of the application cycle, your PreMed Gurus advisor reviews all aspects of your credentials, and identifies any issues that should be addressed before submitting the AMCAS the following June.</p>
