<p>“Stop studying and start learning.” Dr. Bill’s catch phrase. His strategies have helped hundreds of students become better learners to improve their academic performance and to reach their goals.</p>
