<div id="am-bio" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog" uk-overflow-auto>
	  <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Dr. Azita Moalemi, M.D.</h3>
			<div class="adv-email"><a href="mailto:drmoalemi@premedgurus.com" class="contact email">DrMoalemi@premedgurus.com</a></div>
    </div>

    <div class="uk-modal-body">
			<p>Dr. Azita Moalemi completed her undergraduate studies at University of Maryland College Park, where she majored in biochemistry and zoology.
			She then attended medical school at the University of Maryland School of Medicine, and completed her first two years of internal medicine residency at George Washington University Hospital.
			She completed her senior year at Mount Sinai University of New York.</p>

			<p>Dr. Moalemi’s fellowship training in cardiology was completed at George Washington University Hospital. She served as Senior Cardiology Research Fellow at the National Institutes of Health, where she obtained additional training and certification in the field of nuclear cardiology and cardiac MRI.</p>

			<p>Dr. Moalemi is board certified in Cardiology and Nuclear Cardiology, and is a registered vascular interpreter. She is a Fellow of the American College of Cardiology, and a speaker in the field of heart disease. She is a Clinical Assistant Professor of Medicine at George Washington University School of Medicine. She has been nominated as Washingtonian Top Doctor and Northern Virginia Top Doctor.</p>

			<p>In her philosophy of medical practice, Dr. Moalemi is an ardent believer in educating her patients in health and disease. She believes in empowering her patients by providing them knowledge on benefits and risks of medicines and tests. That is why she is highly regarded by her peers and her patients. You can read her reviews at Vitals.com, Ratemds.com and Healthgrades.com.</p>

			<p>Dr. Moalemi is also a passionate teacher who loves to mentor premed students. In her years of practice, she has mentored many students who have gone on to medical school and pursued challenging and fulfilling career paths in medicine. She is particularly interested in mentoring premed students in clinical medicine, and helping them gain the experience and knowledge necessary as fulfillment of their application to medical school.</p>
		</div>
	</div>
</div>
