<div id="bh-bio" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog" uk-overflow-auto>
  <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Dr. Brian Higgins, Ph.D.</h3>
    </div>

    <div class="uk-modal-body">
			<p>Dr. Brian Higgins is an Assistant Professor in the Department of Microbiology, Immunology, and Molecular Genetics at the University of Kentucky College of Medicine. He also serves as the Microbiology discipline coordinator, the Course Director for Musculoskeletal and Integumentary (MD828), and a co-course director for Foundations of Infection, Immunity, and Therapeutics (MD810) and Multidiscipline and Integrative Medicine (MD829) in the College of Medicine.</p>

			<p>He received a bachelor’s degree in Cell Biology and Molecular Genetics with high honors from the University of Maryland, a PhD in microbiology from the University of Georgia, and was a postdoctoral fellow at Princeton University studying programmed DNA rearrangements in ciliates. His research has been published in several peer-reviewed journals, including Science and Proceedings of the National Academy of Sciences.</p>

			<p>Prior to joining the UK COM in 2014, Dr. Higgins was an Assistant Professor at the new GRU/UGA Medical Partnership in Athens, GA, where he helped design an integrated, systems-based curriculum. It was here that he developed a passion for medical education and curriculum development, and quickly recognized the need for alternative learning strategies in medical education. In 2013 he implemented a flipped-classroom approach for the entire microbiology curriculum, and was named Educator of the Year by the students that same year.</p>

			<p>Dr. Higgins also serves on the editorial board of the International Journal of Teaching and Learning in Higher Education. Since arriving at UK, Dr. Higgins has worked with both basic science and clinical faculty to coordinate the materials being presented to the students. He has also delivered a “Calibrate” session in the UK College of Pharmacy and Grand Rounds in the UK OB/GYN department, both with a focus on flipping the classroom and other alternative learning strategies.</p>

			<p>Dr. Higgins TEDxUKY Talk, "Stop Wasting Everyone's Time in the Classroom" can be viewed <%= link_to "here.", "https://www.youtube.com/watch?v=YEvgrOJcSBQ", target: '_blank' %>
		</div>

		<div class="uk-modal-footer">
			<a class="contact email">drhiggins@premedgurus.com</p>
		</div>
	</div>
</div>
