<div id="wjh-bio" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog" uk-overflow-auto>
  <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Dr. William J. Higgins, Ph.D.</h3>
    </div>

    <div class="uk-modal-body">
			<p>Dr. William J. Higgins, Ph.D. (Dr. Bill) has taught and advised future physicians for over 45 years.
			Over 2500 of his former students are now M.D.s or D.O.s.  Another thousand or more of his former advisees at Maryland and the NIH are also physicians.</p>

			<p>Dr. Bill earned a B.S. in Biology from Boston College (1969), and his Ph.D. in Biology/Physiology from Florida State University (1973).
				In August of 1973, he began his faculty career at the University of Maryland as an Assistant Professor of Zoology.
				After forty-one years (July 2014), Dr. Bill retired as an Emeritus faculty member from the Department of Biology. During his tenure there, he taught upper division Mammalian Physiology and other related courses to an audience that included many premedical students. Dr. Bill served as the first Campus Retention Coordinator, Acting Assistant Dean of Undergraduate Studies, and as the Associate Dean of the College of Agriculture and of the College of Life Sciences. </p>

			<p>Dr. Bill has secured over 3 million dollars in extramural funding for the University’s instructional programs, and has won many teaching and advising awards including the Kirwan Award for Excellence in Undergraduate Education. He co-founded the UNIV 100 orientation course program and has served as the Campus Pre-Medical Adviser on two occasions. From June 2008 until June 2018, Dr. Bill was the premedical adviser in the Office of Intramural Training and Education at the National Institutes of health in Bethesda, Maryland. From 2016 – 2018, He was a part-time Professor of Physiology at the University of Augusta – University of Georgia Medical Partnership Medical School in Athens, GA. There he lectured first year medical students and developed instructional resources.</p>

			<p>Throughout his career, Dr. Bill has focused his efforts on educating and advising future generations of medical students. He has a life-long commitment to assisting talented and deserving young people reach their goal and enter the medical profession.</p>
		</div>

		<div class="uk-modal-footer">
			<a class="contact email">drbill@premedgurus.com</p>
		</div>
	</div>
</div>
