<% @page_title = "About Us" %>
<% @page_description = "New Description" %>


<!-- <div class="ipage-header ltblue left simple">
	<div class="inside">
		<h1>About PreMed Gurus</h1>
	</div>
</div> -->

<div class="statement">
	<div class="inside med2"><div class="sec">
		<div class="text">
			<h1>About PreMed Gurus</h1>
			<p class="s2">The professional staff of PreMed Gurus is committed to assisting motivated, talented individuals in becoming qualified applicants to medical school, and ultimately physicians.</p>
		</div>
			<div class="abs">
				<h2>PreMed Gurus provides a complete range of services for aspiring physicians at every stage of the process, beginning in the early undergraduate years, and continuing through the final selection of a medical school.</h2>
			<!-- </div> -->

				<%= link_to("/services", class: 'serve-link') do %>
					View Our Services  <span uk-icon="icon: arrow-right"></span>
				<% end %>
			</div>
		</div>

		<!-- <%= image_tag('gurus2.jpg', class: 'img-responsive tall-img') %>  -->
	</div>
</div>

<div class="sec2">
	<div class="inside narrow">
		<div class="heading">
			<h3>Why Should You Choose Us?</h3>
			<hr class="less">
		</div>

		<div class="text-box">
			<p><b>The PreMed Gurus Advantage: Our Advising Staff.</b></p>
			<p>Our excellence is built upon the strength of our professional advisors, each of whom possesses advanced degrees and a life-long commitment to helping qualified, deserving applicants reach their goal of a career in medicine.</p>

			<p>Our entire staff consults on every applicant’s case at each step in the process.
				We have taught and advised generations of premedical students, in some cases serving as faculty at medical schools.
				This experience, supported by our wealth of unique online resources, makes PreMed Gurus the clear choice for premedical advice.</p>
				<div class="link-row">
					<%= link_to("/advisors", class: 'advisor-link') do %>
						Meet Our Advisors  <span uk-icon="icon: arrow-right"></span>
					<% end %>
				</div>
		</div>
	</div>
</div>

<!-- <div class="service-sec">
	<div class="inside">
		<div class="service">Assessment of Credentials</div>
		<div class="service">MCAT Strategies</div>
		<div class="service">AMCAS Application</div>
		<div class="service">Secondary Essays</div>
		<div class="service">Interview Preparation</div>
		<div class="service">Selecting a Medical School</div>
		<div class="service">Learning Skills and Strategies</div>
	</div>
</div> -->


<!--
Our excellence is built upon the strength of our professional advisors with advanced degrees,
who have taught and advised generations of premedical students, and in some cases, served as faculty at medical schools.
This experience, supported by its wealth of unique online resources including the book Gaining Admission to Medical School, makes PreMed Gurus the clear choice for premedical advice.

Our advisors all possess advanced degrees and bring many years of experience advising and teaching pre-medical students.
They have a life-long commitment to helping qualified, deserving applicants reach their goal of a career in medicine.
The entire staff consults on every applicant’s case at each step in the process.
Your credentials, Personal Statement, AMCAS activities, and secondary applications will be reviewed and edited by professionals who have reviewed thousands of these important components.
That’s why we say, “PreMed Gurus, your path to medical school.”
-->


<!-- <p>Our excellence is built upon the strength of our professional advisors, each of whom holds advanced degrees.
They have taught and advised generations of premedical students, and in some cases, served as faculty at medical schools.</p>

<p>Our team has a life-long commitment to helping qualified, deserving applicants reach their goal of a career in medicine. Our entire staff consults on every applicant’s case at each step in the process.
This experience, supported by our wealth of unique online resources, makes PreMed Gurus the clear choice for premedical advice.</p> -->
