<% @page_title = "Gaining Admission to Medical School" %>
<% @page_description = "This is the table of contents and preface of the unique text Gaining Admission to Medical School, written PreMed Gurus' managing director, William J Higgins." %>

<div class="book">
	<div class="details">
	  <div class="inside med2">
	    <div class="sec">
				<h1><%= @page_title %></h1>
	      <div class="text">
	        <div class="title-line"></div>
	        <div class="clearfix"></div>
	        <h2>This is the table of contents and preface of the unique text "<%= @page_title %>," written by our managing director, William J Higgins. The full text is available for free when you purchase any of the services we offer.</h2>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="passage">

		<ul class="uk-subnav opts" uk-switcher>
	    <li><a href="#">Preface</a></li>
	    <li><a href="#">Table of Contents</a></li>
		</ul>

		<ul class="uk-switcher uk-margin">
			<li class="preface">
				<div class="inside med2">
					<p>I want to present the facts simply and clearly. In doing so, I hope to dispel anxiety and replace it with realistic optimism. Truly, the medical school admission process does not involve unknowable truths, betting against the odds, or the black arts! For most applicants, even luck has very little to do with it. The details of the process and the expectations are clearly defined and published. However, social media has contributed to the already existing mythology surrounding to the medical school admissions process. There is the pervasive anxiety about “acceptable” academic performance standards and wildly inaccurate medical school admissions statistics embedded within many unofficial advice web sites. In an attempt to, forgive the cliché, set the record straight, I have combined and condensed verified data published by AMCAS, facts and advice received from numerous medical school admissions officers, and forty-five years of experience in teaching and advising potential applicants to medical school into the brief outline that follows. </p>

					<p>The chapters are organized chronologically within the admissions process wherever possible. Perhaps the most important chapter is the first one. The idea and long-term assignment in it constitute the all important first step. Reading through the first chapters of the document early in the college career is strongly recommended. The message contained within it is the most important lesson to master. Complete that assignment (and there are many components to it!) and the actual application becomes a matter of listing activities and insights.</p>

					<p>This book provides the essential facts without the diversion of too many special exceptions or odd cases. It is intended to be used as the source of basic factual background information upon which you and your PreMed Gurus adviser will construct your long-term plans and final applications.
					Those students who understand the answer to, “Why medicine?”, and then complete the expected and obvious requirements will get into medical school and eventually practice. The road to this goal is explained in the following chapters. Remember to always do well and do good!</p>
				</div>
			</li>

	    <li class="toc">
	    	<div class="inside narrow">
					<p><strong>CHAPTER 1:</strong> How do you know?</p>
					<p><strong>CHAPTER 2:</strong> What are my chances?</p>
					<p><strong>CHAPTER 3:</strong> An Overview of the Timeline for Preparation and Application</p>
					<p><strong>CHAPTER 4:</strong> Academic Requirements and Majors</p>
					<p><strong>CHAPTER 5:</strong> Relevant Supporting Activities</p>
					<p><strong>CHAPTER 6:</strong> The MCAT</p>
					<p><strong>CHAPTER 8:</strong> Application Requirement Checklist</p>
					<p><strong>CHAPTER 9:</strong> The AMCAS: Data and Activities</p>
					<p><strong>CHAPTER 10:</strong> The AMCAS: Personal Statement</p>
					<p><strong>CHAPTER 11:</strong> AMCAS M.D. / Ph.D. Essays</p>
					<p><strong>CHAPTER 12:</strong> Recommendation Letters</p>
					<p><strong>CHAPTER 13:</strong> Selecting Medical Schools</p>
					<p><strong>CHAPTER 14:</strong> Completing Secondary Applications</p>
					<p><strong>CHAPTER 15:</strong> CASPer Test</p>
					<p><strong>CHAPTER 16:</strong> Interview Preparation</p>
					<p><strong>CHAPTER 17:</strong> Acceptances, Rejections, and Reapplications</p>
					<p><strong>CHAPTER 18:</strong> Reapplying?</p>
					<p><strong>CHAPTER 19:</strong> Osteopathic Medicine</p>
					<p><strong>APPENDIX A:</strong> M.D. / Ph.D. Programs</p>
					<p><strong>APPENDIX B:</strong> Application Requirement Checklist</p>
		    </div>
		  </li>
		</ul>
	</div>
</div>
