<% @page_title = "Secure Our Services" %>
<% @page_description = "" %>

<div class="hire-gurus">
  <div class="details">
    <div class="inside med2">
      <div class="sec">
        <div class="text">
          <h1>Hiring PreMed Gurus</h1>
          <div class="title-line"></div>
          <div class="clearfix"></div>
          <%= render 'shared/instructions' %>
        </div>

        <div class="abs">
          <!-- <p>Consultation will begin within three business days of receiving payment. You will also have access to the online resource, <%= link_to "Gaining Admission to Medical School.", book_details_path, class: 'text-link' %></p>
          -->
          <p><%= link_to "Click here", "Request Services.pdf", target: '_blank', class: 'text-link' %> to download our Client Contract. Please email your completed contract to: <a class="text-link" href="">info@premedgurus.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
