<% @page_title = "Secure Our Services" %>
<% @page_description = "PreMed Gurus is your path to medical school. Secure our services, and start working toward your goal of a career in medicine." %>

<div class="hire-gurus">
  <div class="details">
    <div class="inside med2">
      <div class="sec">
        <div class="text">
          <h1>Hiring PreMed Gurus</h1>
          <div class="title-line"></div>
          <div class="clearfix"></div>
          <%= render 'shared/instructions' %>
        </div>

        <div class="abs">
          <p><%= link_to "Click here", "Request Services.pdf", target: '_blank', class: 'text-link' %> to download our Client Contract. Please email your completed contract to: <a class="text-link" href="mailto:info@premedgurus.com">info@premedgurus.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
