<% @page_title = "Welcome to PreMed Gurus" %>
<% @page_description = "New Description" %>


<div class="tmp-open-sec">
  <div class="tos-inside">
    <h1 class="visually-hidden">Pre-Med Gurus</h1>
    <%= image_tag('guru-logo.png', class: 'img-responsive intro-logo')%>
    <h2>Website coming soon</h2>
  </div>
</div>
