<% @page_title = "Advising for Universities" %>
<% @page_description = "PreMed Gurus will come to your campus and supplement your university’s premedical advising. Save faculty time, and provide your students with the very best advice. Contact us today for a quote!" %>

<div class="details">
	<div class="inside medi">
		<div class="sec">
			<div class="text">
				<h1><%= @page_title %></h1>
				<div class="title-line"></div>
				<div class="clearfix"></div>
				<p class="s2">PreMed Gurus will come to your campus and supplement your university’s premedical advising. Save faculty time, and provide your students with the very best advice and most current information.</p>

				<p>Our professionals will give information sessions on all aspects of the admissions process, answer questions from and individually advise premedical students on your own campus, and then continue remotely after our visit.</p>
				<p>Contact <a class="text-link" href="#modal-cua" uk-toggle>Dr. Bill Higgins</a> to inquire about these services.</p>
			</div>

			<div class="abs">
				<p>
					Our staff has also trained many individuals to be successful, premedical advisors.
					We can provide your professionals with training and resources to ensure that your students receive the knowledge and advice they need for admission to medical school.
				</p>
			</div>

			<!-- <div class="text dos">
				<p>Contact Dr. Bill Higgins to inquire about these services:<br>
					<span>higginsterp@gmail.com</span><br>
					<span>301-452-1676</span>
				</p>
			</div> -->

		</div>
	</div>
</div>

<div id="modal-cua" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h4 class="uk-modal-title">Contact Dr. Bill Higgins to learn more about our University Advising services.</h4>
			<hr>
      <p><a class="contact email"><span>Email:</span><br>higginsterp@gmail.com</p>
			<p><a class="contact phone"><span>Phone:</span><br>301-452-1676</p>
    </div>
  </div>
</div>
