<% @page_title = "Advising for Universities" %>
<% @page_description = "PreMed Gurus will come to your campus and supplement your university’s premedical advising. Save faculty time, and provide your students with the very best advice. Contact us today for a quote!" %>

<div class="details">
	<div class="inside medi">
		<div class="sec">
			<div class="text">
				<h1><%= @page_title %></h1>
				<div class="title-line"></div>
				<div class="clearfix"></div>
				<p class="s2">PreMed Gurus will come to your campus and supplement your university’s premedical advising. Save faculty time, and provide your students with the very best advice and most current information.</p>

				<p>Our professionals will give information sessions on all aspects of the admissions process, answer questions from and individually advise premedical students on your own campus, and then continue remotely after our visit.</p>

				<p>Contact Dr. Bill Higgins to inquire about these services:<br>
				<a href="mailto:drbill@premedgurus.com" class="text-link">DrBill@premedgurus.com</a></p>
			</div>

			<div class="abs">
				<p>
					Our staff has also trained many individuals to be successful, premedical advisors.
					We can provide your professionals with training and resources to ensure that your students receive the knowledge and advice they need for admission to medical school.
				</p>
			</div>
		</div>
	</div>
</div>
