<div id="modal-apply" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog" uk-overflow-auto>
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">Client Services</h2>
      </div>

      <div class="uk-modal-body">
        <p>To request our services, please provide the following information. You may complete the form online, or download a copy and email it to us at <a href="mailto:info@premedgurus.com">info@premedgurus.com</a></p>
        <p>Within two business days of submitting your form, you will receive an email from PreMed Gurus asking you to select times for an introduction and an assessment of needed services phone call.<br>
      	After the call, the client will select the desired service package and complete a contract describing the services, the fee schedule, and instructions for submitting the initial payment.<br>
      	Once the payment is received by PreMed Gurus, consultation begins within three business days. You also gain access to the online resource, Gaining Admission to Medical School.</p>
      </div>

      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-primary" type="button"><a href="Request Services.pdf" class="dl-btn" target="_blank">Download</a></button>
      </div>
  </div>
</div>
