<!-- <a class="uk-btn consult" href="#modal-consult" uk-toggle>Request a Consult</a>
<a class="uk-btn apply" href="#modal-apply" uk-toggle>Hire the Gurus</a>-->
<%= link_to 'Request a Consult', consultation_path, class: 'uk-btn consult' %>
<%= link_to 'Hire the Gurus', hire_gurus_path, class: 'uk-btn apply' %>
