<div id="modal-fees" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title">PreMed Gurus Service Fees</h3>
        <div class="title-line"></div><div class="clearfix"></div>
        <p class="modal-subtitle">
          Please note that for a limited time, PreMed Gurus is offering a 20% discount on all services listed below to well qualified new clients.
          <span class="text-link">Payment options include: credit card, debit card, and PayPal.</span><br>
          <span>The prices listed below are shown without any discount.</span>
        </p>
      </div>

      <div class="uk-modal-body">
        <div class="inside lg">
          <div class="li">
            <p>1. Complete service package (includes services 3 - 10)</p>
            <p class="price">... $15,000</p>
            <!-- (Note: after 20% discount = $12,000) -->
          </div>

          <div class="li">
            <p>2. Complete service for reapplication</p>
            <p class="price">... $12,000</p>
          </div>

          <div class="li">
            <p>3. Pre-application Credentials Assessment and Advice</p>
            <p class="price">... $4,000</p>
          </div>

          <div class="li">
            <p>4. MCAT Study Plan and Strategies</p>
            <p class="price">... $2,500</p>
          </div>

          <div class="li">
            <p>5. Complete AMCAS Service</p>
            <p class="price">... $5,000</p>
          </div>

          <div class="li">
            <p>6. AMCAS Personal Statement Advice and Review</p>
            <p class="price">... $2,750</p>
          </div>

          <div class="li">
            <p>7. AMCAS Activities Section Advice and Review</p>
            <p class="price">... $2,500</p>
          </div>

          <div class="li">
            <p>8. Secondary Application Essay Advice and Review (5 final drafts)</p>
            <p class="price">... $3,000</p>
          </div>

          <div class="li">
            <p>9. Medical School Interview Preparation</p>
            <p class="price">... $2,000</p>
          </div>

          <div class="li">
            <p>10. Final Selection of Medical School Consultation</p>
            <p class="price">... $500</p>
          </div>

          <div class="li last">
            <p>11. Learning Strategies and Study Skills</p>
            <p class="price">... hourly contract; inquire for details.</p>
          </div>
        </div>
      </div>

      <div class="uk-modal-footer uk-text-right">
        <p class="snip">Free online access to <%= link_to "Gaining Admission to Medical School", book_details_path, class: 'text-link' %></b> text with purchase of any above service.</p>
        <%= render 'shared/client-btns' %>
      </div>
  </div>
</div>




