<p>Ready to put PreMed Gurus to work for you?<br> To secure our services, please read the information below.</p>

<ul>
	<li>
		<strong>If you haven't filled out our New Client Information form yet, please <%= link_to "click here", consultation_path, class: 'text-link' %> to do so now.</strong>
	</li>

  <li>Within two business days of submitting your New Client Information form, PreMed Gurus will email you to set up an introduction and assessment of needed services phone call.</li>

  <li>After the call, download and complete our Client Contract linked below, selecting your desired service package.
  	Once we receive your completed contract, your invoice will be emailed to you.
  	<br><span>Submit the initial payment via credit card, debit card, or PayPal. Fees may be paid in three equal payments during the course of the service delivery.</span></li>
  <!-- <li> After the call, you download and complete our Client Contract, linked below. Select your desired service package, and follow the instructions for submitting the initial payment.<br><span>Fees may be paid in three equal payments during the course of the service delivery.</span></li> -->

	<li>Consultation will begin within three business days of receiving payment. You will also have access to the online resource, <%= link_to "Gaining Admission to Medical School.", book_details_path, class: 'text-link' %></li>
</ul>
