<div class="mobile-navrow">
  <a class="mnav-btn" type="button" uk-toggle="target: #offcanvas-mnav"><span class="uk-margin-small-right" uk-icon="icon: table; ratio: 1.5"></span></a>
  <div id="offcanvas-mnav" uk-offcanvas="overlay: true; flip:true">
    <div class="uk-offcanvas-bar mobile-menu">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav">
      	<%= render 'layouts/nav' %>
      </ul>
    </div>
  </div>

	<div href="mailto:info@premedgurus.com" class="mnr-email">info@premedgurus.com</div>
</div>
