<div id="sequence" class="custom-ms" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
			<h3 class="uk-modal-title sm">Sequence of Services for a Full-Service Contract:</h3>
      <!-- <div class="title-line"></div><div class="clearfix"></div> -->
		</div>

    <div class="uk-modal-body">
			<ul class="seq">
				<li class="l1">Initial assessment of your credentials (Fall of admission cycle year or earlier)
					<ul class="sub">
						<li>Advice for addressing any issues that may require attention before submission of an application to medical school in June</li>
					</ul>
				</li>

				<li class="l1">MCAT advice (four to six months in advance of MCAT test date)</li>
				<li class="l1">Review of items on the AMCAS (January – February of admission cycle year)
					<ul class="sub">
						<li>List of Activities</li>
						<li>Outline of Personal Statement content</li>
						<li>Guidance for an initial search of appropriate medical schools</li>
						<li>Update on academic progress and MCAT schedule</li>
					</ul>
				</li>

				<li class="l1">Final reviews of draft of your AMCAS including the Personal Statement (May)</li>

				<li class="l1">Consultation and reviews of secondary applications (July – September after AMCAS submission)</li>

				<li class="l1">Interview preparation (August – February after AMCAS submission)</li>

				<li class="l1">Discussion of medical school acceptance (September – May)</li>
			</ul>
		</div>
	</div>
</div>
