<div class="ill">
	<p>PreMed Gurus provides a complete range of services for aspiring physicians at every stage of the process, beginning in the early undergraduate years, and continuing through the final selection of a medical school.</p>
	<hr class="less">
</div>

<div class="ilr">
	<p class="one">The professional staff of KamiMed’s PreMed Gurus is committed to assisting motivated, talented individuals become qualified applicants to medical school, and ultimately physicians.</p>

	<p>Our excellence is built upon the strength of our professional advisors with advanced degrees, who have taught and advised generations of premedical students, and in some cases, served as faculty at medical schools. This experience, supported by its wealth of unique online resources including the book <b>Gaining Admission to Medical School</b>, makes PreMed Gurus the clear choice for premedical advice.</p>
</div>


<!--
PreMed Gurus
Your path to medical school

The professional staff of KamiMed’s PreMed Gurus is committed to assisting motivated, talented individuals become qualified applicants to medical school and ultimately physicians. PreMed Gurus provides a complete range of services for aspiring physicians at every stage of the process beginning in the early undergraduate years and continuing through the final selection of a medical school. Our excellence is built upon the strength of its professional advisors with advanced degrees who have taught and advised generations of premedical students and, in some cases, served as faculty at medical schools. This experience supported by its wealth of unique online resources, including the book Gaining Admission to Medical School, makes PreMed Gurus the clear choice for premedical advice.
 -->
