<div class="testimonial-slider" uk-slider>
  <div class="uk-position-relative uk-visible-toggle uk-light">
      <ul class="uk-slider-items uk-grid">
        <li class="testislide">
          <div class="uk-card uk-card-default">
            <div class="uk-card-body">
              <!-- <h3 class="uk-card-title">Headline</h3> -->
              <p>“Dr. Higgins has been a wonderful mentor to me throughout my undergraduate career and during my medical school application process. I was very fortunate to have Dr. Higgins both as a pre-med advisor and as a teacher in the University of Maryland MCAT Preparation Program. He has been incredibly helpful when providing insights on which classes would best prepare me for my medical career, how to prepare for the MCAT exam, and how to navigate the medical school application process. In addition, he taught me about the importance of balance and wellness and for that I am forever grateful. I admire his commitment and compassion toward his students and community. With his guidance and support, I was accepted into medical school! Dr. Higgins is truly one of a kind and I would highly recommend him to everyone as a pre-med advisor!”</p>
							<span>- Z.M., a recently admitted post baccalaureate applicant</span>
            </div>
          </div>
        </li>

        <li class="testislide">
          <div class="uk-card uk-card-default">
            <div class="uk-card-body">
              <!-- <h3 class="uk-card-title">Headline</h3> -->
              <p>
              	"Dr. Higgins is without a doubt the best premed adviser there is! When I first began the process of applying to medical school there were obvious holes in my application. However, with Dr. Higgins' advice, he helped me transform my application into one that allowed me to get accepted to the medical school of my choice. He guided me through the entire application process and was there every step of the way with counsel and encouragement. Working with Dr. Higgins will give you the best possible chance you could have to get into medical school. I can say this with confidence because not only did he help me get into medical school, but he helped my brother and my father get into dental school as well. He is truly a great person, but an even better mentor. He treats all of his clients/students as his own and he clearly lives to see others succeed. It is not an easy journey to get into medical school, but with Dr. Higgins assistance it is definitely easier (and way more manageable!) I truly owe my success in medicine to Dr. Higgins."
              </p>
							<span>- Stefanie, current medical student</span>
            </div>
          </div>
        </li>

        <li class="testislide">
          <div class="uk-card uk-card-default">
            <div class="uk-card-body">
              <!-- <h3 class="uk-card-title">Headline</h3> -->
              <p>"Dr. Higgins has been my mentor for several years and I appreciate his vast experience, knowledge and common sense to advise students applying to medical school. He is an extraordinary, intelligent man, with an objective perspective and clear vision. He won’t sugarcoat anything. He will tell you the exact things you need to do to succeed in this process. He also has a great sense of humor. I have learned a lot from him and it’s been a pleasure to work together."</p>

              <span>- E. H., M.D. / Ph.D., Professional Premedical Adviser</span>
            </div>
          </div>
        </li>

        <!-- <li>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="images/dark.jpg" alt="">
            </div>

            <div class="uk-card-body">
              <p>
              	"Dr. Higgins is without a doubt the best premed adviser there is! When I first began the process of applying to medical school there were obvious holes in my application. However, with Dr. Higgins' advice, he helped me transform my application into one that allowed me to get accepted to the medical school of my choice. He guided me through the entire application process and was there every step of the way with counsel and encouragement. Working with Dr. Higgins will give you the best possible chance you could have to get into medical school. I can say this with confidence because not only did he help me get into medical school, but he helped my brother and my father get into dental school as well. He is truly a great person, but an even better mentor. He treats all of his clients/students as his own and he clearly lives to see others succeed. It is not an easy journey to get into medical school, but with Dr. Higgins assistance it is definitely easier (and way more manageable!) I truly owe my success in medicine to Dr. Higgins."
              </p>
							<span>- Stefanie, current medical student</span>
            </div>
          </div>
        </li> -->
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  </div>
  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>
