// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";


.honey {position: absolute;left: -9999px;}

.page-body {@include sec-default();}

.ipage-header{
  @include sec-default();padding: 20px 0; color:$white; text-align: center;
  &.xtra {padding: 40px 0;}
  &.left{text-align: left;}
  &.cream { background-color: $f9;}
  &.blue { background-color: $blue;}
  &.ltblue {background-color:#d2effe;}
  &.simple{padding:15px 0 0px;
		h1 {font-size: 1.8rem;}
  }

  @include bp(tb) {
  	h1 {font-size: 1.7rem; margin-bottom:10px;}
  }

  @include bp(md) {
  	h1 {font-size: 1.5rem;}
  }

  @include bp(sm) {
  	h1 {font-size: 1.3rem;}
  }
}

.title-line {
	width: 100px; height: 2px; background-color: $gu-blue;
	margin-top: 10px;
	margin-bottom: 25px;
	&.pink {background-color: $pink; }
	&.center {@include center-block();}
}

.inside{width: 85%; @include center-block();
  &.lg {width:90%;}
  &.medi {width:75%;}
  &.med2 {width:65%;}
  &.narrow {width:55%;}

  @include bp(su) {
		width: 80%;
  }

  @include bp(tb) {
	  &.medi {width:85%;}
		&.med2 {width:80%;}
		&.narrow {width:75%;}
  }
}

hr{
	&.hlf {width: 50%;}
	&.less {width: 25%;}
}

.gu-link {@include link(30%, $white); background-color: $blue;
	@include bp(tn) {font-size: 15px;}
}
.text-link {font-weight: bold; color: $gu-blue;}

.full-sec{@include sec-default(); text-align: center; padding: 40px 0;
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


//*********************************//
//*********** home ***********//
//*********************************//
// NOTES -- if home nav is diff, ::before {height: 72%; margin-top:15%;} //

.home {
  .dbl-color-hero{@include sec-default(); padding:60px 0 40px; text-align:center; position: relative;
    &::before{@include after(); background-color: $gu-blue;
    	height: 53%;
    	// margin-top:30%;
    }
    .hero-img{@include center-block(); margin-bottom: 20px;}
    .inside {width:90%;}
    .inside {width:75%;}

    h2, h1{font-weight: bold; color:$white; text-transform: uppercase; margin-top: 0;
    	letter-spacing: 1px;font-size: 2rem; @include tshadowl(rgba($black,.4));}

		h1{font-size: 2.5rem; margin-bottom: 0;}
		h2 {font-style: italic; margin-bottom: 5px; line-height: 1.9rem;}
		p {color: $white; margin-top: 0; font-weight:400; font-size: 19px; width: 65%; @include center-block(); letter-spacing: .4px}
  }

  .banner {@include sec-default(); padding: 40px 0 25px; text-align: center; background-color: $gu-blue;
  	.box {@include sec-default();}
		h3 {font-size: 1.3rem; color: $white; font-weight: 500; @include tshadowl(rgba($black, .1));}

		.lefty, .inline, .link-row {display: inline-block; float: left;}
		.lefty {width: 19%;
			h3.border{font-weight: bold;font-size: 2rem; text-transform: uppercase;}
		}
		.inline{ width: 62%; margin-left: 2%; text-align:left;
			p{margin:0px 0 10px;}
		}
		// .link-row {float: right; width:12%; margin-top:3%;}
		.link-row{margin-top: 3%; float: right;}
		.gu-link {width:99%;padding: 10px 15px; background-color: $pink;font-weight: 500; @include tshadowl(rgba($black, .2));}

		.il-link {@include link(15%, $white);
			display: inline-block; margin: 10px 3%; background-color: $navy;
			font-size: 17px; box-shadow: 0px 5px 18px rgba($black, .1);
		}
		.text-link {color: $black;}

  	&.pink {background-color: $pink;}
  	&.lt {background-color: lighten($gu-blue, 10%);}
  }

  .advisors-alt {@include sec-default(); padding: 40px 0 0px;
  	h3 {margin-bottom: 0; font-weight: bold;}
		h4{margin-top: 0;
			span {font-weight: 500;}
		}

  	.text, .il-img {display: inline-block; float: left; width: 65%;}
  	.il-img {float: right; width:30%;}
		span.quote {font-weight:bold; font-size: 1.2rem; line-height: 2.6em; color: $black; font-style: italic;}
		.gu-link {float: left; @include tshadowl(rgba($black, .3)); font-weight: bold;}


		.full{@include sec-default(); @include sec-bgimage('doc-whitebg.png'); background-size: 30%; background-position: bottom right;
			padding-bottom: 80px;
		}
  }

  .hs1 {@include sec-default(); padding: 100px 0;
  	.hs1-mobimg {display: none;}
  	.left, .right {float: left; display: inline-block; }
		.left {width:42%; padding-top: 3%;}
		.right {width:53%;
			position: relative;z-index: 0;
  		&::before{@include before(); background-color: rgba($blue, .1);width:63%; left: -65%;}
		}
		.left {float: right; margin-left: 4%;}
		.right::before{width:45%; left:102%;}
		h3 {font-size: 1rem; font-weight: bold; margin-top: 0;}

		.banner { background-color: $blue;
			p{font-size: 1.1rem; color: $white;}
		}

		.full-sec.dos {padding:60px 0 0;
			.left{float: left; margin-left: 0; text-align: left; width:35%;}
			.right {width:50%;}
			.right::before{width:50%; left:-52%;}
			h3 {font-size: 1.3rem;}
		}

		@include bp(xl) {
			.inside.med2 {width:940px;}
		}
  }

  .serve{@include sec-default(); padding:70px 0 80px; margin-left:0;
  	h3 {text-align: center; font-size: 1.1rem; margin-bottom: 30px;}

  	.full {@include sec-default();
	  	background-position: bottom right; background-image: url(image_path('logo-heart.png'));
	  	background-repeat: no-repeat; background-size: 6%;
	  }
	  .small-full {display: none;}

		// ul.uk-tab-left, .uk-switcher {display: inline-block; float: left;}
		ul.uk-tab-left {
			// width:38%;
			li {
				a {font-family: $lato; color: $black; text-transform: none; font-size: 16px; font-weight: 600}
				&.uk-active a{color: $gu-blue;}
			}
		}

		.uk-switcher {
			// width:58%; margin-left:4%;
			ul,p {margin-top: 14%;}
		}

		li.amca {
			p{margin-top: 8%;}
			ul.amcas-li {margin-top:0;
				li{list-style-type: disc;}
			}
		}

		.train {
			padding:20px 30px 30px; text-align: center;
			h4 {font-weight: bold; color: $navy;}
			p{}
		}

		.stitle, .sdesc{display: inline-block; float: left;}
		ul.uk-tab-left, .uk-switcher{@include sec-default();}

		.stitle {width:40%;}
		.sdesc{width:55%;display: inline-block; margin-left:4%;}
	}

	.pbi {@include sec-default(); padding-bottom:30px;
		position: relative;z-index: 0;
		&::before{@include after(); background-color: $gu-blue;height: 50%;}
    .hero-img{@include center-block(); margin-bottom: 20px;}

    .text {@include sec-default();margin-top: 40px;
			p{color:$white; @include tshadowl(rgba($black, .2)); font-size: 18px; text-align: center;
				padding: 0 20px;
			}
			.text-link {color:$white;}
    }
	}

	@media (min-width:2000px){
		.advisors-alt {
			.full{ background-size: 17% !important;}
		}
	}

	@media (min-width:1900px){
		.dbl-color-hero{
		  &::before{height: 340px !important;}
		}

		.pbi .inside.med2{width:60%;}
	}

	@media (min-width:1670px){
		.advisors-alt {
			.full{ background-size: 24%; }
		}
	}

	@media (min-width:1349px) {
		.banner {
			.lefty {width: 21%;
				h3.border{font-size: 2.2rem;}
			}

			.inline{ width: 62%; margin-left: 2%; margin-top: 12px;
				p{margin:0px 0 10px;}
			}

			.link-row {width:12%; margin-top:3%;}
		}
	}

	@media (max-width:1235px) {
		.hs1 {
			.med2 {width:75%;}
			.left {width:49%; }
			.right{width:45%;
				&::before{width:42%; left: 102%;}
			}
		}
	}

	@include bp(xl) {
		.serve {
			.inside.med2 {width: 890px;}
		}
	}

	@include bp(tb) {
		.dbl-color-hero{padding-bottom:30px;
			&::before{height: 47%;}
			h1{font-size:2.2rem;}
			h2 {font-size: 1.8rem;}
		}

		.hs1 {padding: 60px 0;
			.med2 {width:85%;}
			.left {width:49%; margin-left:2.5%; padding-top:1%;}
			.right{width:48%;
				&::before{width:42%; left: 102%;}
			}
			p{margin: 12px 0;}
		}

		.banner {padding-bottom: 35px;
			.lefty {width: 25%;
				h3.border{font-size: 2rem; }
			}
			.inline{ width: 70%; margin-left: 2%;}
			.link-row{width: 30%; margin-top: 5px; display:block;}
		}

		.serve {padding:50px 0 65px;}

		.pbi {
			&::before {height: 60%; }
		}

		.advisors-alt {
			.full {padding-bottom: 45px;}
			span.quote {line-height: 1.4em;}
		}
	}

	@media (max-width:960px) {
		.serve {
			.stitle {width:35%;}

			ul.uk-tab-left{padding-left: 0;text-align: left;}
			ul.uk-tab::before {top: 0;bottom: 0;left: auto;right: 0;border-left: 1px solid #e5e5e5;border-bottom: none;}

			.uk-tab>* {@include sec-default();padding-left: 0;}
			.uk-tab>*>a {font-family: $lato; color: $black; text-transform: none; font-size: 16px; font-weight: 600;
				padding-left:0;text-align: left;
			}
			.uk-tab>.uk-active>a {color: $gu-blue;border-bottom:none;}
		}
	}

	@include bp(tn) {
		.dbl-color-hero{padding-bottom: 20px;
			h1{font-size:1.9rem;}
			h2 {font-size: 1.6rem;}
		}

		.hs1 {padding: 30px 0;
			.left {@include sec-default(); margin-left:0;
				position: relative;z-index: 0;
				&::before{@include before(); background-color: rgba($blue, .1); width:140px; left: -40px;}

			}
			.right{display: none;}
			p{margin: 8px 0;}
		}

		.banner {padding-top:25px;
			.lefty {width: 30%;
				h3.border{font-size: 2rem; }
			}
			.inline{ width: 65%; margin-left: 0; float:right; margin-top:15px;}
			.link-row{float:left;}
			p{font-size:15px;}
			.gu-link {font-size: 15px;}
		}

		.serve {
			.inside.med2 {width:85%;}
			.stitle {width:40%;}
			.sdesc{width:55%; margin-left:0; float: right;}

			.uk-tab>* {@include sec-default();padding-left: 0;}
			.uk-tab>*>a, p, .amcas-li li {font-size: 15px;}
		}

		.pbi {padding-bottom: 10px;
			.inside.med2 {width:90%;}
			img{@include center-block(); width:80%;}
			.text {margin-top:25px;
				p {font-size: 16px; }
			}
		}

		.advisors-alt {padding-top:30px;
			.inside.med2 {width:90%;}
			.text {width:75%;}
			h3{font-size: 1.3em;}
			h4{font-size: 1em; margin-bottom: 0}
			p{font-size: 15px; margin:10px 0;}
			span.quote {font-size: 16px;}
			.title-line {margin-bottom: 15px;}
			.gu-link {width:50%;}
		}
	}

	@include bp(md) {
		.advisors-alt {padding-top:20px;}
	}

	@include bp(mb) {
		.dbl-color-hero{
			.hero-img{margin-bottom: 10px;}
			h1{font-size:1.8rem;}
			h2 {font-size: 1.45rem;}
		}

		.hs1 {padding: 15px 0 20px;
			p{font-size: 15px;}
			h3{font-size: 15px;}
		}

		.banner {padding-top:25px;
			.lefty, .inline, .link-row {width: 90%; @include center-block();}
			.lefty{@include sec-default();
				br {display: none;}
				h3.border{margin-bottom: 10px; font-size: 1.4rem; }
			}
			.inline{text-align: center; margin-top:10px; margin-bottom: 20px;}
		}

		.serve {
			.inside.med2 {width:90%;}
			.stitle {width:40%;}
			.sdesc{width:57%;}
		}

		// .pbi {padding-bottom: 30px;
		// 	&::before {margin-top: 22%;}
		// }

		.advisors-alt {
			.full {background-image:none;}
			.text {width:98%;@include center-block();}
			h3{font-size: 1.1em;}
			h4{font-size: .85em;}
			span.quote {font-size: 15px;}
			.gu-link {width:50%;}
		}
	}

	@include bp(ph) {
		.serve {padding-top:20px;
			.inside.med2 {width:84%;}
			.full {display: none;}
			.small-full {@include sec-default();
				li.l1 {border-bottom: $border; margin-top:0; padding:15px 0 15px;}
				.uk-accordion-title,.ext-link {font-size: 1.1rem; font-weight: bold; color: $gu-blue;}
				.uk-accordion-content {width:92%; @include center-block();
					margin-top:0px;
				 	p, li {font-size: 15px;}
				 	p{margin-top: 10px;}
				 	p.price {font-weight: bold; margin-top:5px;margin-bottom: 10px;}
				}

				li.l1.full-pack, li.nocon, p.price {display: none;}

				.uk-card-footer {display:none;
					// .uk-btn {display: inline-block; padding: 7px 20px; background-color: $blue; color: $white;
					// 	font-weight: bold;letter-spacing: .5px; @include tshadowl(rgba($black, .2));
					// 	font-size: 15px;
					// 	&.consult { margin-right: 20px;}
					// 	&.apply {background-color: darken($pink, 5%)}
					// }
				}


			}
		}
	}

	@include bp(sm) {
		.dbl-color-hero{
			h2 {font-size: 1.2rem;}
		}
		.pbi {
			// padding-bottom: 30px;
			img{width:95%;}
			// &::before{height:65%; margin-top: 24%}
		}

		// .advisors-alt {padding-top:0px;}
	}
}


//*********************************//
//*********** services ***********//
//*********************************//
.services{

	h1 {margin-bottom: 0; font-weight: 600}
	.over {width: 68%; @include center-block();
		p span {font-weight: bold; }
	}


	.details{@include sec-default(); padding:80px 0;
		.inside.medi {width:1080px}
  	.sec {@include sec-default(); padding: 40px 0 60px;
  		@include sec-bgimage('ph-new2.jpg'); background-size: 45%; background-position: center right;
  		@include sec-bgimage('gurus-bg.jpg'); background-size: 45%; background-position: center right;
  	}

		.text{width: 50%; float: left; margin-bottom: 20px;
			p{ margin:10px 0;}
			span{font-weight: bold;}
		}
		.abs{ padding: 5px 25px 0px; background-color: $pink; width: 85%; float: left;
			p { margin-top:10px; color: $white; font-size: 1.1rem; font-weight: 500; @include tshadowl(rgba($black, .2));}
			.text-link {color: $black;@include tshadowl(rgba($black, .1));}
		}
  }

  .banner {@include sec-default(); background-color: $gu-blue; text-align: center; padding: 20px 0 5px; margin-bottom:80px;
		p{color: $white; font-size:1.1rem;font-weight: 500; @include tshadowl(rgba($black, .2));}
		.text-link{color: $white;}
  }

	.full-sec.first {background-color: #F8FCFF; background-color: $f9;padding-top:0; }
	.sidebar, .main-sec {display: inline-block; float: left; }
	.sidebar {background-color: $white; width:28%;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
		ul.cat-list {padding: 20px 30px;}
		.side-menu{width:100%; text-align: left; margin-bottom: 10px;
			padding-left: 0;
			padding-bottom: 10px;
			border-bottom: $border;
			border-bottom: 1px dotted rgba($gu-blue, .5);
			&:last-child {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}

			a{font-family: $lato; color: $black; text-transform: none; font-size:1rem; }
			&.uk-active a{ font-weight:bold; color: $pink; @include tshadowl(rgba($black, .1));}
		}
		ul.additional{background-color: $blue;padding:20px 30px;
			li {border-color: rgba($f7, .3); }
			li, a {color:$white; }
		}

		.pay-box {padding: 15px 30px 5px;
			p{color: $blue; font-weight: bold; font-size: 17px; line-height: 1.6em; text-align: left;}
			p span {color: $navy}
		}
	}
	.main-sec {width: 67%; float: right;}
	.uk-grid {margin-left: 0;}

	.ukg-size{ padding-left:0;
		@include sec-default(); text-align: left; margin: 0 0 30px;

		.uk-width-expand.uk-first-column {padding-left: 0;}
		.uk-card {border-top: 1px solid rgba($df, .3);padding-left:0;}
		.uk-card-header{padding:15px 30px 7px;
			h3{color: $blue; font-weight: bold; font-size: 1.2rem;
				// @include tshadowl(rgba($black, .1));
			}
			span.price {float:right; color: $navy; font-size: 1rem; text-shadow:none; margin-top:5px;}
		}
		.uk-card-body{padding:25px 30px;}
		.uk-card-footer {padding:15px 30px;}

		&.full-pack {
			.uk-card {box-shadow: none; border-top:0; background-color: lighten($gu-blue, 10%); padding: 20px 30px; text-align: center;
				h3, p {color:$navy;}
				.text-link {color:darken($gu-blue, 20%);}
			}
			.uk-card-header{padding:0px; border-bottom: 0;
				h3{@include tshadowl(rgba($black, 0));}
			}
			.uk-card-body{padding:10px 0px;
				p{font-size:17px;font-weight:bold;}
			}
		}
	}

	br.mb-down {display: none;}

	.uk-btn {display: inline-block; padding: 7px 20px; font-size: 15px; background-color: $blue; color: $white;
		font-weight: bold;letter-spacing: .5px; @include tshadowl(rgba($black, .2));
		&.consult { margin-right: 20px;}
		&.apply {background-color: darken($pink, 5%)}
	}

	.custom-ms.uk-modal .uk-modal-dialog{width:75%; @include center-block();
		padding:20px 40px;

		h3.uk-modal-title {font-size:1.8rem; margin-bottom: 10px;}
		h3.uk-modal-title.sm {font-size:1.6rem; margin-bottom: 0px;}
		.title-line{width:60px;}
		.modal-subtitle {margin-top: 10px;
			span{font-weight:bold;}
		}
	}

	ul.seq li.l1 {list-style-type: disc; margin-bottom: 15px;}
	ul.sub li {list-style-type: circle; color: $navy; font-size: 15px;}

	.amcas-li {text-align: left;
		li{list-style-type: disc;}
	}

	.mobile-services {display: none;
		.inside {width:90%; padding: 0 20px;}
		li.l1 {border-bottom: $border; margin-top:0; padding:15px 0 15px;}
		.uk-accordion-title,.ext-link {font-size: 1.1rem; font-weight: bold; color: $gu-blue;}
		.uk-accordion-content {width:92%; @include center-block();
			margin-top:0px;
		 	p, li {font-size: 15px;}
		 	p{margin-top: 10px;}
		 	p.price {font-weight: bold; margin-top:5px;margin-bottom: 10px;}
		}

		.uk-card-footer {
			.uk-btn {display: inline-block; padding: 7px 20px; background-color: $blue; color: $white;
				font-weight: bold;letter-spacing: .5px; @include tshadowl(rgba($black, .2));
				font-size: 15px;
				&.consult { margin-right: 20px;}
				&.apply {background-color: darken($pink, 5%)}
			}
		}

		li.l1.full-pack {
			background-color: $gu-blue;
			.uk-accordion-title, .ext-link { color: $white;}
			h4 {font-size: 15px; font-weight:500; margin:10px 0 15px; padding: 10px 0; border-top: $border;border-bottom: $border; border-color: rgba($navy, .3);}
			ul{border-bottom: $border; border-color: rgba($navy, .3); padding-bottom: 10px;}
			li {color: $white; margin-bottom:7px; font-size: 16px; }
			.text-link{ color: $black; }
		}

		li.nocon a::before {display: none;}
	}

	@media (max-width: 1140px) {
		.details {padding: 40px 0;
			.inside.medi {width:980px;}
		}
	}

	@include bp(tb) {
		.inside.cst {width:90%;}

		.details {padding:30px 0;
			h1 {font-size: 1.75rem;}
			.inside.medi {width:90%;}

			.sec { padding: 40px 0;}
		}

		.over {width: 80%;}

		.sidebar{width:30%;
			ul.cat-list, ul.additional {padding: 20px 25px;}
			.side-menu a {font-size: 15px;}
		}

		br.mb-down {display: block;}
		.ukg-size{margin-bottom: 20px;
			.uk-card-header{padding:12px 30px 7px;
				h3 {font-size: 1.1rem; float: left;}
				span.price {font-size: .85rem; float:none;}
			}
			.uk-card-body{padding:20px 30px;}
			.uk-btn {font-size: 14px;}
			p, li {font-size: 15px;}
		}

		.custom-ms.uk-modal .uk-modal-dialog{
			padding:20px;width:95%;
			.title-line{margin-bottom: 15px;}
			h3.uk-modal-title {font-size:1.5rem;}
			h3.uk-modal-title.sm {font-size:1.4rem; }
		}
	}

	@include bp(tn) {
		.details {padding: 50px 0;
			h1 {font-size: 1.5rem;}
			.sec { padding: 0px; background-position: top right;}
			.title-line {margin-bottom: 15px;}
			.abs{
				p { font-size: 1rem; }
			}
		}

		.banner {margin-bottom: 40px;
			p{font-size: 15px;}
		}

		.over {width: 90%;}
		.inside.cst {width:95%;}
		.sidebar{
			ul.cat-list, ul.additional {padding: 20px;}
		}
		.ukg-size {
			.uk-card-header h3 {font-size: 16px; }
		}

		.custom-ms.uk-modal .uk-modal-dialog{
			padding:20px 10px;
			h3.uk-modal-title {font-size:1.3rem;}
			h3.uk-modal-title.sm {font-size:1.3rem; }
		}
	}

	@include bp(md) {
		.details {padding: 50px 0 40px;
			h1 {font-size: 1.4rem;}
			p{font-size: 15px;}
			.abs{@include sec-default(); padding:5px 0;
				text-align: center;
				p { padding: 0 20px;}
			}
		}
	}

	@include bp(pl) {
		.banner {margin-bottom: 15px;}
		.inside.cst {display: none;}
		.mobile-services {@include sec-default();}

		.custom-ms.uk-modal .uk-modal-dialog{width:98%;}
	}

	@include bp(mb) {
		.details {padding: 30px 0;
			h1 {font-size: 1.4rem;}
			.title-line{margin-bottom: 10px; margin-top:5px;}
			.sec {background-image: none;}
			.text{@include sec-default(); margin-bottom: 5px; }

			.abs{text-align: left;
				p { padding: 0 15px; font-size: 15px;}
			}
		}
	}

	@include bp(ph) {
		.mobile-services {
			.uk-accordion-title,.ext-link {font-size: 15.5px;}
			.uk-card-footer {padding: 0 30px;
				.uk-btn {font-size: 14px;width:80%;
					&.consult, &.apply {@include center-block(); margin: 10px auto;}
					&.consult {margin-top: 0}
				}
			}
		}
	}

	@include bp(sm) {
		.ipage-header h1{font-size: 1.2rem;}

		.over {width: 90%;
			p{font-size: 15px;}
		}

		.mobile-services .uk-accordion-content {width:95%;}
	}
}


//*********************************//
//*********** university ***********//
//*********************************//
.university-advising {
	h1 {margin-bottom: 0; font-size: 1.8rem; font-weight: bold;}

	.details{@include sec-default(); padding:60px 0;
		.inside.medi{width:1080px;}
  	.sec {@include sec-default(); padding: 40px 0 60px;@include sec-bgimage('doorway.jpg'); background-size: 43%; background-position: top right;}
		.text{width: 55%; float: left; margin-top:0px; margin-bottom: 10px;
			&.dos {margin-top: 25px;}
			p{padding-right: 15px;}
			span{padding-left: 20px; line-height: 2em; font-weight: bold;}
		}
		.abs{ padding: 10px 20px 5px; background-color: $pink; width: 78%; float: left;
			p { margin-top:10px; font-size:1.1rem; color: $white; font-weight: 500; @include tshadowl(rgba($black, .2));}
		}
  }

  #modal-cua{
  	.uk-modal-dialog{width:60%;}

  	h4.uk-modal-title{font-size:1rem;margin-top:20px; font-weight: bold;}
  	p{font-size:1.1rem;}
  	p span {font-size: 1rem; font-weight: bold;}
  }

  @media (max-width: 1140px) {
		.details {padding: 50px 0;
			.sec{padding:30px 0 0;}
			.inside.medi {width:980px;}
		}
	}

	@include bp(tb)	{
		h1{font-size: 1.6rem;}
		.title-line{margin-top: 7px;}

		.details{padding: 50px 0 30px;
			.inside.medi {width:85%;}
			.title-line {margin-bottom: 15px;}
	  	.sec { padding: 15px 0;}
			.text p{margin:10px 0 13px;}
			.abs{text-align: justify; padding: 10px 25px 5px}
		}
	}

	@include bp(tn)	{
		h1{font-size: 1.5rem;}

		.details{
	  	.sec { padding: 0px 0; background-size: 42%}
			.text p{padding-right: 6px; font-size: 15px;}

			.abs{@include sec-default();padding: 10px 0 5px;
				p{font-size: 15px; padding: 0 20px;}
			}
		}
	}

	@include bp(md) {
		h1{font-size: 1.3rem;}
		.details{padding-top:35px;
			.inside.medi {width:90%;}
	  	.sec { background-size: 40%; }
			.title-line{margin-bottom: 12px;}
	  	.text{width:60%;}
		}
	}

	@include bp(mb) {
		.title-line{width:60px}
	}

	@include bp(ph) {
		h1{font-size: 1.4rem;}
		.details{padding: 20px 0 30px;
	  	.sec {  background-image: none; }
	  	.text{@include sec-default();}

			.abs p{font-size: 15px;}
		}
	}
}


//*********************************//
//*********** advisers ***********//
//*********************************//
.advisors {
	h2 {font-size: 1.4rem; margin-bottom: 10px; font-weight: bold; font-style: italic; font-weight: 600}
	h1{font-weight: bold;}

	.ipage-header{padding:50px 0;}
	.intro {@include sec-default(); text-align: center;
		p{font-size: 17px;}
	}

	.color{@include sec-default(); background-color: $gu-blue; padding:30px 0 20px; text-align: center; margin-bottom:30px;
		p{ color: $white; @include tshadowl(rgba($black, .3)); font-size: 18px;
		}
	}

	.advisor-content {@include sec-default(); padding: 60px 0;
		.listing {@include sec-default(); text-align: center;

			h3{margin-bottom: 10px; margin-top:10px; font-size: 1.1rem; font-weight: bold; line-height: 1.3em;
				span {font-size: 1rem; color: $navy; font-style: italic; font-weight: 500;}
			}
			p{margin-top: 15px; font-size: 15px;}
			.bio-img {width: 320px; @include center-block();}
			.bio {@include sec-default();padding-top:10px;}
			.gu-link{ background-color: $blue; font-size: 15px; padding: 10px 25px;}
		}

		.listing.tall {display: inline-block; float: left; width:31%; margin-left: 5%;}
		.listing.wide {display: inline-block; float: right; width:60%;
				&.top{margin:0px 0 40px;}
				.bio-pic, .info {display: inline-block; float: left; width:50%; }
				.bio-pic {padding: 0 10px; }
				.info {padding-top:8%;float: right; width:48%;}
		}
	}

	.custom-ms.uk-modal .uk-modal-dialog{width:80%; @include center-block(); padding:15px;
		.uk-modal-title , .adv-email {display: inline-block; float: left; width: 50%;}
		.uk-modal-title {font-size:1.6rem; font-weight: 600; margin-bottom:0;}
		.adv-email {float:right; text-align: right; margin-top:10px;
			.email{ color: $gu-blue; font-weight: 600; font-size: 17px;}
		}
	}

	.advisors-sec {@include sec-default(); padding: 60px 0;
		text-align: center;
		.listing {display: inline-block; float: left; width:30%; margin:10px 1.5%;}
		h3{margin-bottom: 20px; margin-top:15px; font-size: 1.1rem; font-weight: bold; line-height: 1.3em;
			span {font-size: 1rem; color: $navy; font-style: italic; font-weight: 500;}
		}
		p{margin-top: 15px; font-size: 15px;}
	}


	.advisors-sec .inside.medi {width:85%;}
	@include bp(dt) {
		.advisors-sec .inside.medi {width:75%;}
	}

	@include bp(tb) {
		h2 {font-size: 1.1rem;}
		.intro .inside.med2 {width:80%;}

		.advisor-content {
			.inside.medi{width:90%;}
			.listing {
				h3{font-size: 1rem;}
				h3 span {font-size: 15px;}
				.gu-link{font-size: 14px;}
			}
		}
		.custom-ms.uk-modal .uk-modal-dialog{width:95%;
			.uk-modal-title {font-size: 1.4rem;}
			.adv-email {margin-top:5px;
				.email{ font-size: 15px;}
			}
		}

		.advisors-sec {padding:40px 0 60px;
			.inside.medi {width:90%;}
			.listing { width:30%; margin:10px 1.5%;}
			h3{ font-size: 1rem;
				span {font-size: .85rem;}
			}
			.gu-link {font-size: 14px;}
		}
	}

	@include bp(tn) {
		h2 {font-size: 1rem;}
		.intro .inside.med2 {width:90%;
			p{font-size: 15px;}
		}

		.advisor-content {padding: 30px 0;
			// .inside.medi{width:95%;}
			.listing {
				h3{font-size: 1rem;}
			}

			.listing.tall {width:40%; margin-left: 5%; margin-top: 12%;}
			.listing.wide {width:40%; float: none; margin-left: 7%;
					&.top{margin:0px 0 40px 7%;}
					.bio-pic, .info {@include sec-default();}
					.bio-pic {padding: 0; }
					.info {padding-top:10px;}
			}
		}
		.custom-ms.uk-modal .uk-modal-dialog{width:97%;
			.uk-modal-title {font-size: 18px;}
		}

		.advisors-sec {padding:25px 0 40px;
			h3 {font-size: 16px;}
			.inside.medi {width:75%;}
			.listing { @include sec-default(); margin:8px 0;}
			.bio-pic, .info {display: inline-block; float: left; width: 48%; }
			.info {float: right; margin-top: 10%;}
			.listing:nth-child(2) {
				.info{float: left;}
				.bio-pic {float: right;}
			}
		}
	}

	@include bp(mb) {
		.advisors-sec .inside.medi {width:85%;}
	}

	@include bp(md) {
		.custom-ms.uk-modal .uk-modal-dialog{width:95%;
			.adv-email, .uk-modal-title {@include sec-default(); text-align: left;}
			.adv-email .email{ font-size: 15px;}
		}
	}

	@include bp(ph) {
		.advisors-sec {
			.inside.medi {width:90%;}
			.listing{margin-bottom: 25px;}
			h3 {font-size: 15px;
				span {font-size: 14px;}
			}
			.bio-pic {width: 35%; }
			.info{width:63%; margin-top: 2.5%;}
		}
	}

	@include bp(sm) {
		.ipage-header {padding-bottom: 0px;}
		.advisor-content {
			.inside.medi{width:85%;}
			.listing {
				h3{font-size: 1rem;}

				&.tall, &.wide {@include sec-default(); margin-left: 0;
					margin-bottom: 40px; margin-top:0;
					.info {padding-top:5px;}
				}

				&.wide.top{margin-left: 0; margin-bottom: 40px;}
			}
		}

		.advisors-sec {padding:25px 0;
			.listing{margin: 0 0 40px;}
			.bio-pic, .info {@include sec-default();}
			.info{margin-top:10px;}
			.bio-pic {width:85%; @include center-block();}

			.listing:nth-child(2) .bio-pic{float:none;}
		}
	}
}


//*********************************//
//*********** about ***********//
//*********************************//
.about {
	.serve-link, .adviser-link { padding: 10px 40px; text-align: center; background-color: $blue; color: $white;}
	.serve-link {background-color: $navy; position: absolute; z-index: 1; left:57.8%; margin-top: -20px;}

  .statement{@include sec-default(); padding:60px 0;
  	.sec {@include sec-default(); padding: 40px 0 60px;@include sec-bgimage('gurus2.jpg'); background-size: 45%; background-position: center right;}
		.text, .tall-img {display: inline-block; float: left; width:48%;}
		.text{margin-top: 40px; margin-top:0px; margin-bottom: 10px;}
		// .abs{ padding: 0 0 150px;  width: 50%;  padding: 20px 25px 0px; background-color: $pink;}
		.abs{ padding: 10px 25px 5px; background-color: $pink; width: 80%; float: left; }
		h2 { margin-top:10px; font-size:1.1rem; color: $white; font-weight: 500; @include tshadowl(rgba($black, .2));
		 	//position: absolute; z-index: 1; width: 50%; padding: 20px 25px 25px; background-color: $pink;
		}
		.tall-img {float: right;}

		.text {width:50%;
			p, h1 {padding-left: 15px;}
		}

		.tall-img {width: 45%;}
  }

  .sec2{@include sec-default(); padding: 80px 0 60px; background-color: $f7;
		.heading, .text-box {display: inline-block; width:32%; float: left;}
		h3 {font-weight: bold; font-size: 1.8rem;}
		.text-box {width: 55%; float: right;}
		.link-row {@include sec-default(); padding-top:10px;}
  }

	.service-sec{@include sec-default(); text-align: center; padding: 40px 0; text-align: center;
		.service {display: inline-block; float:none; margin: 10px 5%; color: $black;
			width:22%; margin: 10px 1.2%; font-weight: bold;
		}
	}

}


//*********************************//
//*********** fees ***********//
//*********************************//
#modal-fees {
	// .price {float: right;}

	.title-line {margin-bottom: 0;}
	.uk-modal-body {
		.li {@include sec-default();border-bottom: $border; padding-bottom:7px; margin-bottom: 20px;}
		.li.last {border:none; margin-bottom: 0}

		p, p.price {display: inline-block; float: left; margin: 0;}
		p.price {float: right;}
	}
	// br.no-dt {display: none;}

	@include bp(dt) {
		.inside.lg {width:85%;}
	}

	@include bp(tb) {
		.inside.lg {width:95%;}
	}

	@include bp(tn) {
		.inside.lg {width:99%;}
		p {font-size: 15px;}
	}

	@include bp(mb) {
		.uk-modal-body {padding: 20px;
			p, p.price {@include sec-default();}
			p.price {padding-left:15px;}
		}
	}

	@include bp(sm) {
		.uk-modal-body {padding: 20px 10px;
			p{font-size: 14px;}
		}

		.uk-modal-footer.uk-text-right {text-align: center !important;
			padding: 15px;
			.uk-btn {@include center-block(); margin: 7px auto;}
		}
	}
}


//*********************************//
//*********** consult ***********//
//*********************************//
.consultations, .contracts {
	h1 {font-weight: bold;}
	.msg-bx {@include sec-default();
		.alert{font-weight: bold; padding: 7px 20px;
			&.alert-notice { background-color: rgba(0,146,13, .2); color: $black;}
			&.alert-alert {background-color: $red; color: $white; }
		}
	}
	.notice {color: $red;}

	.panel.panel-danger.err {
		h4.panel-title {background-color: rgba($red, .7); color: $white; @include tshadowl(rgba($black, .7)); margin-bottom:10px;}
		li {color: $red; margin-bottom:5px;}
	}
	.alert.alert-success {background-color: rgba(0,146,13, .2); color: $black;}

	form {text-align: left; @include sec-default(); background-color: $f7;
		fieldset{padding: 20px 30px 0px 20px;border:0; margin-bottom: 0;}
		hr {margin-top:5px;}
		h3.sec-title {margin-bottom: 0; font-weight: 500;}

		label {font-size: 15px; color: $black; @include sec-default();
			b,strong {color: $gu-blue;}
		}

		input, textarea, select {
			width:100%; height: 30px; color: $black; font-size: 15px; padding: 3px 5px; margin-top:4px;
		}

		select {width: 40%;}
		textarea {height: 90px;padding: 5px; width:60%;}
		.send-message {width: 25%; height: auto;padding: 10px 15px; background-color: $pink; color: $white; font-weight: bold; font-size: 16px; letter-spacing: .5px; text-align: center;}

		.form-group {
			width: 45%; display: inline-block;
			margin-left: 2%;
			margin-bottom: 30px;
			&.address, &.email, &.major, &.pgrad {float: right; margin-left: 0; margin-right: 2%;}

			&.content {margin-bottom: 15px;}
			&.message, &.submit, &.school, &.attempt2 {width:90%; float: left; margin: 0 0 30px 2%;}
			&.attempt2 textarea {height:70px;}
			&.message label {width:55%;}
			&.submit {padding-bottom: 0;}
		}

		@include bp(tn) {
			h3.sec-title {text-align: center;}
			.form-group {
				width: 55%; @include center-block();
				&.name, &.address, &.phone, &.email, &.college, &.major, &.school, &.ugrad, &.target, &.attempt2, &.message, &.submit {width: 70%; @include center-block();}
				&.message label {@include sec-default();}
			}
			textarea {@include sec-default(); margin-bottom: 30px;}
			select {@include sec-default();}
		}

		@include bp(mb) {
			.form-group {width: 90%;
				&.name, &.address, &.phone, &.email, &.college, &.major, &.school, &.ugrad, &.target, &.attempt2, &.message, &.submit {width: 90%; }
			}
			.send-message {width: 40%; font-size: 15px;}
		}

		@media (max-width:639px) {
			.form-group {@include sec-default();
				&.name, &.address, &.phone, &.email, &.college, &.major, &.school, &.ugrad, &.target, &.attempt2, &.message, &.submit {@include sec-default();}
			}
			textarea {margin-bottom: 15px;}
		}
	}

	p.print {margin-top: 0; padding-left: 4%; color: $red;}
}

.client-form {
	padding:20px;
	input[type="checkbox"] {width: 30px; display: inline-block; float: left; margin-top: 2px;}
	.check-opt, .form-bx {@include sec-default();}
	.form-bx {margin-bottom: 15px;}
	.check-opt {margin-top: 6px; line-height: 2em;}
	.send-btn {width: 15%; padding: 10px 20px; height:auto; background-color: $pink; color: $white; margin-top: 20px; font-weight: bold;}
}

.consultations {
	.top-sec {@include sec-default(); text-align: center; padding-top:40px;}
	.details{@include sec-default(); padding:60px 0 ;
  	.sec {@include sec-default(); padding: 40px 0 60px;@include sec-bgimage('student-pass.jpg'); background-size: 42%; background-position: center right;}
		.text{width: 56%; float: left; margin-top:0px; margin-bottom: 25px;
			&.dos {margin-top: 25px;}
			p{padding-right: 15px; margin:10px 0 10px;font-size:17px;}
		}
		.abs{ padding: 5px 25px 0px; background-color: $pink; width: 80%; float: left;
			p { margin-top:10px; color: $white; font-size: 1.1rem; font-weight: 500; @include tshadowl(rgba($black, .2));}
			.text-link {color: $black;@include tshadowl(rgba($black, .1));}
		}

		li {list-style-type: disc; margin-bottom: 10px}
		li span {font-weight: bold;}
  }

  .full-sec.btm{
  	padding-top:0;
		hr.cst {width: 75%; @include center-block(); border-top:2px solid rgba($gu-blue, .7);}
  	hr.cst.one{margin-bottom: 10px !important;}
  	hr.cst.two{margin-bottom: 50px;margin-top:10px;}
  	form {
  		h3.sec-title{color: $navy; font-weight: bold; margin-left: 15px;}
  	}
  }

  @include bp(xl) {
  	.details {
  		.inside.med2 {width:940px;}
  	}
  }

  @include bp(tb) {
		.details {
			h1{margin-bottom: 0px; font-size: 1.75rem;}
			.inside.med2 {width:85%;}
			.abs p{font-size:1rem;}
		}

	  .full-sec.btm{
	  	.inside.medi {width:90%;}
	  }
  }

  @include bp(tn) {
  	h1{font-size: 1.6rem; }
		.details {padding:40px 0;
			.inside.med2 {width:90%;}
			.title-line {margin-bottom: 10px;}
			// .sec {background-size: 45%;}
			.text {margin-bottom:10px;
				p{font-size: 16px;}
			}
			.abs p{font-size:1rem;}
		}

	  .full-sec.btm{
	  	.inside.medi {width:90%;}
	  	form h3.sec-title{margin-left: 0}
	  }
  }

  @include bp(md) {
		.details {padding:0px 0;}
  }

  @include bp(ph) {
		.details {
			.sec {padding:30px 0; background-image: none;}
			.text {@include sec-default();}
			.abs {padding: 7px 0 3px; @include sec-default();
				p{padding: 0 20px; font-size: 15px;}
			}
		}
  }
}

//*********************************//
//*********** contract ***********//
//*********************************//
form.new_contract  {
	.form-group.services {@include sec-default();
		input, label {display: inline-block; }
		input{width:25px; margin:0;}
	}
}

.contracts, .hire-gurus {
	h1 {margin-bottom: 0; font-weight: bold;}
	.details{@include sec-default(); padding:20px 0;
  	.sec {@include sec-default(); padding: 40px 0 60px;@include sec-bgimage('bp-bg.jpg'); background-size: 33%; background-position: center right;}
		.text{width: 64%; float: left; margin-top:0px; margin-bottom: 10px;
			&.dos {margin-top: 25px;}
			p{padding-right: 15px; margin:10px 0 10px;}
			// span{padding-left: 20px; line-height: 2em; font-weight: bold;}
		}
		.abs{ padding: 5px 25px 0px; background-color: $pink; width: 85%; float: left;
			p { margin-top:10px; color: $white; font-size: 1.2rem; font-weight: 500; @include tshadowl(rgba($black, .2));}
			.text-link {color: $black;@include tshadowl(rgba($black, .1));}
		}

		li {list-style-type: disc; margin-bottom: 10px}
		li span {font-weight: bold;}
		li strong {
			// color: $pink;
			// .text-link {color: $black; }
		}
  }

  .full-sec{background-color: $f9; background-color: rgba($gu-blue, .1);}
  form {border-left: $border; border-right: $border; border-bottom: $border; border-color: rgba($gu-blue, .2);}

	@include bp(dt) {
		.inside.med2{width:1100px;}
	}

	@media (max-width:1200px) {
		.inside.med2{width:980px;}
	}

  @include bp(tb)	{
  	h1{font-size: 1.6rem;}
  	.title-line{margin-top: 7px; margin-bottom: 15px;}
  	.details{
  		padding: 50px 0 30px;
    	.sec { padding:0; background-position: top right; background-size: 32%}
  		.inside.med2{width:90%;}
			.abs{ padding: 5px 0 0px; @include sec-default(); text-align: center;
				p { font-size: 1rem; padding: 0 10px;}
			}
  	}
  }

  @include bp(tn)	{
  	h1{font-size: 1.5rem;}
  	p,li{font-size: 15px;}

  	.details{padding: 20px 0 40px;
    	.sec { padding: 0px 0; background-image: none}
  		.text {@include sec-default();
  			p{padding-right: 0px;}
  		}

  		.abs{@include sec-default();padding: 10px 0 5px;
  			p{ padding: 0 10px;}
  		}
  	}
  }
}


//*********************************//
//******* book toc/preface ********//
//*********************************//
.book {padding-bottom: 30px;

	@include sec-default();
	h1 {margin-bottom: 0px; font-weight: bold; font-size: 1.8rem;}
	h2{font-size: 1.1rem; margin-top: 0; font-family: $lato;}

	.details{
 		@include sec-default(); padding:60px 0;
		background-color: $white;
		.inside.med2 {width: 940px;}
  	.sec {@include sec-default(); padding: 80px 0 60px;
  		@include sec-bgimage('grad-books-tall.jpg'); background-size: 55%; background-position: bottom right;
  	}
		.text{width: 42%; float: left; margin-top:0px; margin-bottom: 10px;
			&.dos {margin-top: 25px;}
			p{padding-right: 15px;}
			span{padding-left: 20px; line-height: 2em; font-weight: bold;}
		}
  }

	.passage{ @include sec-default(); padding-top:20px;
		position: relative;z-index: 0;
		&::before {@include before(); background-color: $gu-blue; height:75px;}
	}
  .uk-subnav.opts {@include sec-default();text-align: center;
		li {display: inline-block;}
		a{font-size: 21px; color: $white; text-transform: none; font-weight: bold;border-bottom: 2px solid transparent;
			@include tshadowl(rgba($black,.2));
		}
		li.uk-active a{border-color: lighten($blue, 40%);}
  }
  .uk-switcher{@include sec-default();padding: 50px 0 0; margin-bottom: 0;}

  h3{color: $blue; font-weight:bold;}
  h4 {font-weight: bold; border-bottom: $border; border-color: rgba($black, .15); padding-bottom: 7px;}
	.toc p{margin: 0 0 12px;
		strong {color: $blue;}
	}

	@include bp(tb) {
		.details {
			.inside.med2 {width:85%;}
		}
	}

	@include bp(nn) {
		.details {padding:50px 0;
			h1{font-size: 1.6rem;}
			.sec {padding: 20px 0;}
		}
	}

	@include bp(tn) {
	  .uk-subnav.opts {
			a{font-size: 18px;}
	  }

	  .uk-switcher{padding: 30px 0;
			.inside.med2 {width:90%}
	  }
	}

	@include bp(md) {
		padding-bottom: 15px;
		.details {padding:50px 0;
			h1{font-size: 1.3rem;}
			h2{font-size:1rem;}
			.title-line{margin-top: 6px; margin-bottom: 15px;}
			.sec {padding: 0px 0;}
		}
	  .uk-switcher{padding: 30px 0 0;
			.inside.narrow {width:80%}
	  }
	}

	@include bp(ph) {
		.details {padding:30px 0 0px;
			h1{font-size: 1.2rem;}
			h2{font-size:1rem;}
			.title-line{margin-top: 6px; margin-bottom: 15px;}
			.sec {background-image:none }
			.text{@include sec-default();}
		}

		.uk-switcher{
			p{font-size: 15px;}
			.inside.narrow {width:90%}
	  }
	}
}



//*********************************//
//********* testimonials **********//
//*********************************//
.testimonials {@include sec-default(); padding: 50px 0; background-color:$f9; background-color: rgba($gu-blue, .1);
	p, span, h3 {font-family: $lato; }
	p, span {font-size: 15px;}
	span{font-weight: bold; color: $blue;}
	h3{font-weight: bold; border-bottom: 1px solid rgba($black, .1); padding-bottom: 5px; letter-spacing: .3px; }

	.testislide{width:65%;
		&:nth-child(2) {width:75%;}

		.uk-card{@include sec-bgimage('logo-heart.png'); background-size: 8%; background-position: bottom right;}
	}

	@include bp(tn) {
		padding:30px 0 15px;
		.testislide{width:80%;
			&:nth-child(2) {width:94%;}
			.uk-card{background-size: 10%;}
		}
	}

	@include bp(mb) {
		.inside {width:90%;}
		.testislide{width:95%;
			&:nth-child(2) {width:95%;}
			.uk-card{background-size: 10%;}
		}
	}

	@include bp(sm) {
		.testislide {
			.uk-card{background-image: none;}
		}
	}
}

.home .testimonials{padding:30px 0 10px;
	.testislide{width:95%;}
}






